@{
    Layout = "~/Views/Shared/_adminLayout.cshtml";

}
<h4 class="my-3">Dashboard</h4>
<div class="col-md-3 grid-margin stretch-card">
    <div class="card">
        <a href="events.html">
            <div class="card-body">
                <p class="card-title text-md-center text-xl-left">Registrations</p>
                <div class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
                    <h3 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0">@ViewBag.Registrations</h3>
                    <i class="fa fa-file-lines icon-md text-muted mb-0 mb-md-3 mb-xl-0"></i>
                </div>
            </div>
        </a>
    </div>
</div>

<div class="col-md-3 grid-margin stretch-card">
    <div class="card">
        <a href="orders.html">
            <div class="card-body">
                <p class="card-title text-md-center text-xl-left">Students</p>
                <div class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
                    <h3 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0">@ViewBag.std</h3>
                    <i class="fa fa-user icon-md text-muted mb-0 mb-md-3 mb-xl-0"></i>
                </div>
            </div>
        </a>
    </div>
</div>



<div class="col-md-3 grid-margin stretch-card">
    <div class="card">
        <a href="@Url.Action("Feedback", "Admin")">
            <div class="card-body">
                <p class="card-title text-md-center text-xl-left">Feedback</p>
                <div class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
                    <h3 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0">23</h3>
                    <i class="ti-comment-alt icon-md text-muted mb-0 mb-md-3 mb-xl-0"></i>
                </div>
            </div>
        </a>
    </div>
</div>
<div class="col-md-3 grid-margin stretch-card">
    <div class="card">
        <a href="matches.html">
            <div class="card-body">
                <p class="card-title text-md-center text-xl-left">Courses</p>
                <div class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
                    <h3 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0">10</h3>
                    <i class="fa fa-book icon-md text-muted mb-0 mb-md-3 mb-xl-0"></i>
                </div>
            </div>
        </a>
    </div>
</div>