@{
    Layout = "~/Views/Shared/_layout.cshtml";
}
@model List<CollegeRegistration>
<div class="container">
    <div class="row">
        <table>
            <thead>
            <th>Id</th>
            <th>Name</th>
            <th>Father Name</th>
            <th>Email</th>
            <th>Date Of Birth</th>
            <th>Address</th>
            <th>Gender</th>
            <th>Subject</th>
            <th><a href="#" class="btn btn-dark">Update</a><a href="#" class="btn btn-danger">Delete</a></th>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
