<main id="main" data-aos="fade-in">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
        <div class="container">
            <h2>FACULTY</h2>
            <p>We are in the process of enhancing our college website to provide students with a comprehensive and informative platform. Your expertise in [Faculty Member's Area of Expertise] is highly regarded, and we believe that your insights could greatly contribute to the content we're developing </p>
        </div>
    </div><!-- End Breadcrumbs -->
    <!-- ======= Trainers Section ======= -->
    <section id="trainers" class="trainers">
        <div class="container" data-aos="fade-up">

            <div class="row" data-aos="zoom-in" data-aos-delay="100">
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="member">
                        <img src="@Url.Content("~/assets/img/slider_home.jpg")" class="img-fluid" alt="">
                        <div class="member-content">
                            <h4>Walter White</h4>
                            <span>PRINCIPAL</span>
                            <p>
                                "A great principal is not just a leader, but a visionary who shapes the path to success for students and teachers alike.
                            </p>
                            <div class="social">
                                <a href=""><i class="bi bi-twitter"></i></a>
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="member">
                        <img src="@Url.Content("~/assets/img/C5_BIwKUYAAnBla.jpg")" class="img-fluid" alt="">
                        <div class="member-content">
                            <h4>Sarah Jhinson</h4>
                            <span>SRO</span>
                            <p>
                                "An SRO is not just a uniform, but a bridge between law enforcement and education. Thank you for being a source of security and guidance."
                            </p>
                            <div class="social">
                                <a href=""><i class="bi bi-twitter"></i></a>
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="member">
                        <img src="@Url.Content("~/assets/img/college-essentials-for-guys-4.jpg")" class="img-fluid" alt="">
                        <div class="member-content">
                            <h4>William Anderson</h4>
                            <span>ADMIN</span>
                            <p>
                                "Behind every successful school is a team of dedicated administrators who work tirelessly to pave the way for student success."
                            </p>
                            <div class="social">
                                <a href=""><i class="bi bi-twitter"></i></a>
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Trainers Section -->

</main><!-- End #main -->